.title {
    margin-bottom: 10;
}

/* for tables */
.row-header {
    padding: 10;
    border-radius: 0;
}

.row-card {
    margin-bottom: 6;
    padding: 10;
    border-radius: 0;
}

.cell-left {
    font-size: 16;
    vertical-align: center;
}

.cell {
    font-size: 15;
    text-align: center;
    vertical-align: center;
}
