name: MAUI Unit Tests

permissions:
  checks: write
  pull-requests: write
  contents: read

on:
  release:
    types: [created]
  push:
    branches:
      - master
      - development
  pull_request:
    branches:
      - master
      - development

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.416
          cache: false

      - name: Force DOTNET_ROOT and PATH
        shell: pwsh
        run: |
          $env:DOTNET_ROOT = "$env:ProgramFiles\dotnet"
          $env:PATH = "$env:DOTNET_ROOT;$env:PATH"
          dotnet --info

      - name: Install MAUI workloads
        run: dotnet workload install maui

      - name: Restore dependencies
        run: dotnet restore RoeiVereniging/RoeiVereniging.csproj --verbosity normal

      - name: Build the application
        run: dotnet build RoeiVereniging/RoeiVereniging.csproj -f net8.0-android --configuration Release --no-restore

      - name: Run unit tests
        run: dotnet test TestCore/TestCore.csproj -f net8.0 --configuration Release --no-build --verbosity normal --logger "trx;LogFileName=test-results.trx"

      - name: Test Report
        uses: dorny/test-reporter@v1
        if: always()
        with:
          name: Maui unit tests
          path: "**/test-results.trx"                                    
          reporter: dotnet-trx
          fail-on-error: true